<header>
  <div class="logo_container center animated fadeInUp">
    <img src="{{ "/css/logo.svg" | prepend: site.baseurl }}" class="logo
    center">
    <p class="motto">Disruptive by vocation</p>
  </div>

  <nav class="animated flipInX">
    <ul>
      <li>
        <div class="menuitem">
          <div>home</div>
          <img src="{{ "/css/home.svg" | prepend: site.baseurl }}">
        </div>
      </li>
      <li>
        <div class="menuitem">
          <div>our stories</div>
          <img src="{{ "/css/stories.svg" | prepend: site.baseurl }}">
        </div>
      </li>
      <li>
        <div class="menuitem">
          <div>contact</div>
          <img src="{{ "/css/contact.svg" | prepend: site.baseurl }}">
        </div>
      </li>
    </ul>
  </nav>

  <div class="sidewing animated fadeInRight"></div>

  <div class="bottombar center" style="width: 100%"></div>
</header>

